<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulolibreria">
      ~ Librería Pluma del Cuervo ~
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-item id="titulos">
        <ion-label><h1>Título</h1></ion-label> 
        <ion-label><h1>Autor</h1></ion-label> 
        <ion-label><h1>Escrito en...</h1></ion-label>
      </ion-item>
      <ion-item *ngFor="let b of libros">
        <ion-label>{{b.title}}</ion-label> 
        <ion-label>{{b.author}}</ion-label> 
        <ion-label>{{b.year}}</ion-label>
        <ion-button color="danger" (click)="deleteLibro(b.id)">X</ion-button>
      </ion-item>
    </ion-list>
    <ion-button color="success" (click)="goToForm()">Añadir</ion-button>
  </div>
</ion-content>